* {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

/* Header and navigation styles */
.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
    background-size: contain;

}

.text-primary {
    color: orangered;
}

.btn-primary {
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    color: white;
    border: 0;
    padding: 18px 36px;
    font-size: 20px;


}

nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    /* margin: 50px 200px; */
    margin-left: 20px;
}

/* Banner Styles */
.banner {
    margin: 0 150px;
    align-items: center;
    display: flex;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;


}

.banner-subtitle {
    weight: 600;
    Size: 45px;
    color: #474747;
    margin-bottom: 5px;
}

.banner-description {
    color: #757575;
    font-weight: 20px;
    margin-bottom: 30px;
    text-align: justify;
}

.btn-primary-2 {
    color: #FD6E0A;
    background-color: white;
    height: 64px;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    padding: 18px 36px;
    font-size: 20px;
    margin-left: 5px;
}

/* about section style */
main {
    max-width: 1140px;
    margin: 0 auto;
}

.about {
    margin-top: 130px;
    background: #eed0ba;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;

}

.section-title {

    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    margin-top: 130px;
}

.section-description {
    text-align: justify;
    color: #757575;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
}

.sc-description {
    margin-bottom: 50px;
    text-align: center;
}

.about-info-container {
    display: flex;
    justify-content: space-around;

}

.about-info.title {
    font-size: 20px;
    color: #757575;
    padding: 10px;
}

.description {
    font-size: 20px;
    font-weight: 700;
    color: #474747;
    padding: 10px;
}

.about-info {
    border: 0.5px solid rgb(48, 11, 23);
    border-radius: 5px;
}

.skill-container {
    display: flex;
    gap: 10px;
}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(255, 9, 9, 0.74);
    border-radius: 5px;
    width: 267px;
    height: 377px;
    padding: 10px;
}

.skill-description {
    font-weight: 400;
    font-size: 16px;

}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.section {
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
    text-align: center;
    color: #181818;
    margin-top: 130px;
    margin-bottom: 113px;
}

/* Resume Part */
.resume-content {
    display: flex;
    gap: 24px;
    text-align: left;
}

.resume-title {
    margin-bottom: 10px;
}

.resume-content {
    text-align: left;

}

.resume-item {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 511px;
    height: 175px;
}

.sub-title {
    margin-bottom: 20px;
    color: #757575;

}

.description {
    color: #757575;
}

.title {
    margin-bottom: 10px;
}

.resume-button {
    margin-top: 50px;
    text-align: center;
}

.section-title {
    text-align: left;
}

.contact {
    display: flex;
    gap: 100px;
    padding: 150px 220px;
    background: #ffc8a1;
    border-radius: 10px;
    
}
.btn-primary-cv{
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    color: white;
    border: 0;
    padding: 18px 36px;
    font-size: 20px;
    margin-bottom: 100px;
}

.contact input,
textarea {
    margin-bottom: 24px;
    width: 100%;
    padding: 18px 30px;
}

.contact input {
    border: 0px;
    height: 64px;
}
.para{
    margin-bottom: 30px;
}
.contact a{
    text-decoration: none;
    justify-content: center;
}